
name: Deploy website on push

on:  
  push:
    branches: ["*"]
jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v3    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: 191.96.251.178
        username: root
        password: C@iu2019#2023
        protocol: ftps
        port: 22 
        server-dir: apiNavegantesDE/
